<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nx.nxbi.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="com.nx.nxbi.model.entity.Chart">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="goal" column="goal" jdbcType="VARCHAR"/>
        <result property="chartData" column="chartData" jdbcType="VARCHAR"/>
        <result property="chartType" column="chartType" jdbcType="VARCHAR"/>
        <result property="genChart" column="genChart" jdbcType="VARCHAR"/>
        <result property="genResult" column="genResult" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="execMessage" column="execMessage" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,goal,chartData,
        chartType,genChart,genResult,
        status,execMessage,userId,
        createTime,updateTime,isDelete
    </sql>

    <!-- 动态创建表 -->
    <update id="createTable" parameterType="com.nx.nxbi.model.entity.DataChart">
        <if test="tableName != null and tableName.length() > 0">
            create table if not exists ${tableName} (
            <if test="columns != null and columns.size > 0">chart_column_index INT AUTO_INCREMENT PRIMARY KEY,</if>
            <foreach collection="columns" item="column" index="index" separator=",">
                ${column} VARCHAR(255)
            </foreach>
            )
        </if>
    </update>
    <!-- 动态插入数据 -->
    <update id="insertData" parameterType="com.nx.nxbi.model.entity.DataChart">
        insert into ${tableName} (
        <foreach collection="columns" item="column" separator=",">
            ${column}
        </foreach>
        ) values
        <foreach collection="data" item="row" separator=",">
            ( <foreach collection="row" item="value" separator=",">#{value}</foreach> )
        </foreach>
    </update>
    <select id="selectAll" parameterType="String" resultType="java.util.LinkedHashMap">
        SELECT *
        FROM ${tableName}
    </select>
</mapper>
